#principal{
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1% 0 5% 0;
}
#tarjeta{
    width: 15rem!important;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.38);
    border-radius: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 100%;
    
}
.botones{
    border-radius: 24px;
}
.botonIzquierda{
    margin-right: 2%;
}
.botonDerecha{
    margin-left: 2%;
}

@media (min-width: 800px){
    #tarjeta{
        width: 22rem!important;
    }
    #principal{
        background: url("../../public/img/fondo.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
}